<div id="<%= dom_id profile %>" class="big-card">
  <span class="font-bold text-3xl">
    <%= profile.name %>
  </span>

  <span>
    <%= profile.city %>
    <%= profile.country %>
  </span>

  <span>
    <strong>Birth:</strong>
    <%= profile.birth %>
  </span>

  <span>
    <strong>Gender:</strong>
    <%= profile.gender %>
  </span>

  <span>
    <strong>Role:</strong>
    <%= profile.role %>
  </span>

  <% if current_user == profile.user %>
  <div>
    <%= link_to "Edit profile", edit_profile_path(profile), class: "btn-primary bg-green-800" %>
  </div>
<% end %>

</div>
